@using System.Configuration;
@{
    ViewBag.Title = "Home Page";
    String path = ConfigurationManager.AppSettings["configFile"];
}

<div class="row" style="position: relative;top: 200px;left:14%;">
    <h4 style="color:#2A2C75;">CATEGORIES</h4>
</div>

<section id="grid" class="grid clearfix">
    <a href="#" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
        <figure>
            <img src="@path/localhost/Images/2.jpg" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z " /></svg>
            <figcaption>
                <h2>Chai</h2>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
        <figure>
            <img src="@path/localhost/Images/4.jpg" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z " /></svg>
            <figcaption>
                <h2>Sutta</h2>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
        <figure>
            <img src="@path/localhost/Images/7.jpg" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z " /></svg>
            <figcaption>
                <h2>Daaru ka Theka</h2>
            </figcaption>
        </figure>
    </a>

    <a href="#" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
        <figure>
            <img src="@path/localhost/Images/6.jpg" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z " /></svg>
            <figcaption>
                <h2>Pan</h2>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
        <figure>
            <img src="@path/localhost/Images/5.jpg" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z " /></svg>
            <figcaption>
                <h2>Kuch Thanda</h2>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
        <figure>
            <img src="@path/localhost/Images/8.jpg" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z " /></svg>
            <figcaption>
                <h2>Idli Dosa</h2>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
        <figure>
            <img src="@path/localhost/Images/3.jpg" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z " /></svg>
            <figcaption>
                <h2>Chatpata</h2>
            </figcaption>
        </figure>
    </a>
    <a href="#" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z">
        <figure>
            <img src="@path/localhost/Images/1.jpg" />
            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z " /></svg>
            <figcaption>
                <h2>Kuch bhi khila do yaar</h2>
            </figcaption>
        </figure>
    </a>
</section>